.DS_Store

# Exclude bower_components and node_modules, but allow people to include the source of Bootstrap
/bower_components/*
!/bower_components/bootstrap/
!/bower_components/bootstrap/*

/node_modules/*
!node_modules/bootstrap/
!node_modules/bootstrap/*

npm-debug.log